{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    403. Доступ ограничен
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/error.css' %}">
{% endblock styles %}

{% block error %}
    <div class="error-content">
        <div class="error-status">403</div>
        <div class="error-message">Доступ ограничен</div>
        <hr class="horizontal-line">
        <div class="error-description">
            У вас недостаточно прав для просмотра этой страницы. Вы можете воспользоваться меню наверху страницы или перейти 
            <a class="home" href="{% url 'home' %}">на главную</a>.
        </div>
    </div>
{% endblock error %}
