{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    404. Страница не найдена
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/error.css' %}">
{% endblock styles %}

{% block content %}
    <div class="error-content">
        <div class="error-status">404</div>
        <div class="error-message">Страница не найдена</div>
        <hr class="horizontal-line">
        <div class="error-description">
            Такой страницы не существует. Вы можете воспользоваться меню наверху страницы или перейти 
            <a class="home" href="{% url 'home' %}">на главную</a>.
        </div>
    </div>
{% endblock content %}
